<div class="flex flex-column">
    <br>
    <span class="p-float-label field">
        <input id="code" type="text" pInputText class="w-full p-3" [(ngModel)]="educationElement.name"  required>
        <label for="name">Nombre</label>
    </span>
    
  </div>
  
  <br>
  
  <div class = "flex flex-row-reverse w-auto">
    <div>
      <button type="button" class=" p-button-primary w-6rem" [disabled]="educationElement.name=='' || educationElement.name==null " (click)="saveItem(educationElement)" pButton label="Guardar"></button>
    </div>
    <div class="px-2">
      <button type="button" class="p-button-secondary w-6rem" (click)="closeWindow()" pButton label="Cerrar"></button>
    </div>
