<div class="flex flex-row justify-content-between">
    <div class="flex justify-content-start">
        <h3 class="p-0 m-0 mb-2">
            Pyramid Index
        </h3>
    </div>
</div>
<p-toast position="top-center"></p-toast>
<div class="flex-column align-content-center"> 
    <div class="flex flex-row w-full justify-content-center">

        <p-table [value]="pyramids" [loading]="loading" [paginator]="false" [scrollable]="true" scrollHeight="flex" >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:80px;flex-direction:column;align-items:center;"></th>
                    <th style="width:80px;flex-direction:column;align-items:center;">A1</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">A2</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">B1</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">B2</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">B3</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">C1</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">C2</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">C3</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">D1</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">D2</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pyramid  let-rowIndex="rowIndex">
                <tr [ngClass]="{'editable-row': rowIndex == 0}">
                    <td class="font-bold" style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ rowIndex == 0 ? 'Index' : 'Cost' }}</td>
                    <td pEditableColumn *ngIf="rowIndex == 1 && editable; else notEditableA1" style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.A1" style="width:100%" [inputStyle]="{'width':'100%', 'height':'26px'}" required mode="decimal" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output" >
                                {{ formatNumber(pyramid.A1) }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditableA1>
                        <td style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.A1) }}</td>
                    </ng-template>

                    <td pEditableColumn *ngIf="rowIndex == 1 && editable; else notEditableA2" style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.A2" style="width:100%" [inputStyle]="{'width':'100%', 'height':'26px'}" required mode="decimal" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ formatNumber(pyramid.A2)}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditableA2>
                        <td  style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.A2) }}</td>
                    </ng-template>

                    <td pEditableColumn *ngIf="rowIndex == 1 && editable; else notEditableB1" style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.B1" style="width:100%" [inputStyle]="{'width':'100%', 'height':'26px'}" required mode="decimal" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ formatNumber(pyramid.B1)}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditableB1>
                        <td  style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.B1) }}</td>
                    </ng-template>

                    <td pEditableColumn *ngIf="rowIndex == 1 && editable; else notEditableB2" style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.B2" style="width:100%" [inputStyle]="{'width':'100%', 'height':'26px'}" required mode="decimal" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ formatNumber(pyramid.B2)}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditableB2>
                        <td  style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.B2) }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1 && editable; else notEditableB3" style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.B3" style="width:100%" [inputStyle]="{'width':'100%', 'height':'26px'}" required mode="decimal" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ formatNumber(pyramid.B3) }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditableB3>
                        <td  style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.B3) }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1 && editable; else notEditableC1" style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.C1" style="width:100%" [inputStyle]="{'width':'100%', 'height':'26px'}" required mode="decimal" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ formatNumber(pyramid.C1) }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditableC1>
                        <td  style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.C1) }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1 && editable; else notEditableC2" style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.C2" style="width:100%" [inputStyle]="{'width':'100%', 'height':'26px'}" required mode="decimal" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ formatNumber(pyramid.C2)}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditableC2>
                        <td  style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.C2) }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1 && editable; else notEditableC3" style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.C3" style="width:100%" [inputStyle]="{'width':'100%', 'height':'26px'}" required mode="decimal" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ formatNumber(pyramid.C3) }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditableC3>
                        <td  style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.C3)}}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1 && editable ; else notEditableD1" style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.D1" style="width:100%" [inputStyle]="{'width':'100%', 'height':'26px'}" required mode="decimal" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{formatNumber(pyramid.D1) }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditableD1>
                        <td  style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.D1) }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1 && editable; else notEditableD2" style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.D2" style="width:100%" [inputStyle]="{'width':'100%', 'height':'26px'}" required mode="decimal" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ formatNumber(pyramid.D2) }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditableD2>
                        <td style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.D2)}}</td>
                    </ng-template>
                </tr>
            </ng-template>
        </p-table>

        <div class="ml-4">
            <button *ngIf="!editable" style="margin-top:0px !important" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-lg ml-3 p-button-outlined" pTooltip="Editar" tooltipPosition="left" (click)="onEdit()" ></button>
            <div *ngIf="editable" class="flex flex-column flex gap-2 ml-3">
                <button pButton pRipple pTooltip="Cancelar" tooltipPosition="left" type="button" icon="pi pi-times" class="p-button-outlined p-button-secondary" (click)="onCancel()" [disabled]="loading"></button>
                <button pButton pRipple pTooltip="Guardar" tooltipPosition="left" type="button" icon="pi pi-check" class="p-button-outlined" (click)="onSave()" [disabled]="loading"></button>
            </div>
        </div>
    </div>
    <div class="h-3rem"></div>
    <div class="flex flex-row justify-content-center">
        <div class="flex flex-row gap-3">
            <div class="flex flex-column">
                <p-table [value]="countIndexGraphs" responsiveLayout="scroll" [paginator]="false" [scrollable]="true" scrollHeight="flex" [loading]="loadingIndexGraph">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:80px;flex-direction: column; align-items: center;">Perfil</th>
                            <th style="width:80px;flex-direction: column; align-items: center;">Count</th>
                            <th style="width:80px;flex-direction: column; align-items: center;">Index</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-countIndex>
                        <tr [ngClass]="{'font-bold': countIndex.profile == 'TOTAL'}">
                            <td style="width:80px;flex-direction: column; align-items: center;">{{countIndex.profile}}</td>
                            <td style="width:80px;flex-direction: column; align-items: end;padding-right: 1rem;">{{countIndex.count}}</td>
                            <td style="width:80px;flex-direction: column; align-items: end;padding-right: 1rem;">{{formatNumber(countIndex.index)}}</td> 
                        </tr>
                    </ng-template>
                </p-table>
                <div class="flex-1"></div>
            </div>
            <p-chart type="bar" class="flex"[data]="dataCountIndexGraph" [options]="configCountIndexGraph"></p-chart>
        </div>
        <div class="w-6rem"></div>
        <div class="flex flex-row">
            <div class="flex flex-column">
                <p-table [value]="countGraphs" [paginator]="false" [scrollable]="true" scrollHeight="flex" responsiveLayout="scroll" [loading]="loadingGraph">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:80px;flex-direction: column; align-items: center;">Perfil</th>
                            <th style="width:80px;flex-direction: column; align-items: center;">Count</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-countGraph>
                        <tr [ngClass]="{'font-bold': countGraph.profile == 'TOTAL'}">
                            <td style="width:80px;flex-direction: column; align-items: center;">{{countGraph.profile}} </td>
                            <td style="width:80px;flex-direction: column; align-items: end;padding-right: 1rem;">{{countGraph.count}}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="flex-1"></div>
            </div>
            <div class="flex h-18rem" style="margin-top:8px;">
                <p-chart type="bar" class="flex" [data]="dataCountGraph" [options]="configCountGraph"></p-chart>
            </div>    
        </div>        
    </div>
</div>