<h1>Pyramid Index</h1>
<div class="flex-column">
    <div>
        <p-table [value]="pyramids" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th>A1</th>
                    <th>A2</th>
                    <th>B1</th>
                    <th>B2</th>
                    <th>B3</th>
                    <th>C1</th>
                    <th>C2</th>
                    <th>C3</th>
                    <th>D1</th>
                    <th>D2</th>
                </tr>
            </ng-template>
            <tr>Index</tr>
            <ng-template pTemplate="body" let-pyramid  let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex == 0 ? 'Index' : 'Cost' }}</td>
                    <td pEditableColumn *ngIf="rowIndex == 0; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="numero" (onInput)="show(pyramid.A1)" required ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.A1 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.A1 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 0; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="numero" (onInput)="show(pyramid.A2)" required ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.A2 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.A2 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 0; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="numero" (onInput)="show(pyramid.B1)" required ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.B1 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.B1 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 0; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="numero" (onInput)="show(pyramid.B2)" required ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.B2 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.B2 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 0; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="numero" (onInput)="show(pyramid.B3)" required ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.B3 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.B3 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 0; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="numero" (onInput)="show(pyramid.C1)" required ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.C1 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.C1 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 0; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="numero" (onInput)="show(pyramid.C2)" required ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.C2 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.C2 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 0; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="numero" (onInput)="show(pyramid.C3)" required ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.C3 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.C3 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 0; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="numero" (onInput)="show(pyramid.D1)" required ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.D1 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.D1 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 0; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="numero" (onInput)="show(pyramid.D2)" required ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.D2 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.D2 }}</td>
                    </ng-template>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex-row">

    </div>
</div>