<h1>Pyramid Index</h1>

<div class="flex-column">   
    <div class="flex flex-row align-items-start">
        <p-table [value]="pyramids" responsiveLayout="scroll" class="flex-2 ">
            <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th>A1</th>
                    <th>A2</th>
                    <th>B1</th>
                    <th>B2</th>
                    <th>B3</th>
                    <th>C1</th>
                    <th>C2</th>
                    <th>C3</th>
                    <th>D1</th>
                    <th>D2</th>
                </tr>
            </ng-template>
            <tr>Index</tr>
            <ng-template pTemplate="body" let-pyramid  let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex == 0 ? 'Index' : 'Cost' }}</td>
                    <td pEditableColumn *ngIf="rowIndex == 1; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.A1" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.A1 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.A1 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.A2" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.A2 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.A2 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.B1" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.B1 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.B1 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.B2" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.B2 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.B2 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.B3" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.B3 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.B3 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.C1" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.C1 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.C1 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.C2" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.C2 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.C2 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.C3" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.C3 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.C3 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.D1" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.D1 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.D1 }}</td>
                    </ng-template>
                    <td pEditableColumn *ngIf="rowIndex == 1; else notEditable">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputNumber [(ngModel)]="pyramid.D2" required mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" ></p-inputNumber>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ pyramid.D2 }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <ng-template #notEditable>
                        <td>{{ pyramid.D2 }}</td>
                    </ng-template>
                </tr>
            </ng-template>
        </p-table>
        <button class="align-content-start" style="margin-top:0px !important" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-lg m-2" pTooltip="Editar" ></button>
    </div>
    <div class="h-3rem"></div>
    <div class="flex flex-row gap-5">
        <div class="flex flex-column">
            <p-table [value]="countIndexGraphs" responsiveLayout="scroll" class="flex-2">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Perfil</th>
                        <th>Count</th>
                        <th>Index</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-countIndex>
                    <tr>
                        <td>{{countIndex.profile}}</td>
                        <td>{{countIndex.count}}</td>
                        <td>{{formatNumber(countIndex.index)}}</td> 
                    </tr>
                </ng-template>
            </p-table>
            <p-chart></p-chart>
        </div>
        <div class="flex flex-column">
            <p-table [value]="countGraphs" responsiveLayout="scroll" class="flex-2 ">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Perfil</th>
                        <th>Count</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-countGraph>
                    <tr>
                        <td>{{countGraph.profile}} </td>
                        <td>{{countGraph.count}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <p-chart></p-chart>
        </div>
    </div>
</div>