<div class="flex flex-row justify-content-between">
    <div class="flex justify-content-start">
        <h1>
            Gestión personal
        </h1>
    </div>

</div>

<div class="flex flex-row justify-content-between">
    <div class="flex w-9rem h-2rem gap-2 border-round-2xl align-items-center mt-3" style="background-color:#e7edef">
        <div class="pl-3">
            <i class="pi pi-users text-xl text-primary"></i>
        </div>
        <div class="flex flex-row align-items-center gap-1">
            <p>{{persons.length}}</p>
            Personas
        </div>
    </div>
    <div class="flex justify-content-end ">

        <button pButton pRipple type="button" icon="pi pi-user-plus" class="p-button-lg m-2"> </button>

        <button pButton pRipple type="button" icon="pi pi-download" class="p-button-lg m-2" (click)="downloadPersons()"></button>

        <button pButton pRipple type="button" icon=" pi pi-filter-slash" class="p-button-lg m-2"
            (click)="cleanFilters()">
        </button>
    </div>
</div>

<p-table [style]="{'height':'calc(100vh - 200px)'}" [scrollable]="true" scrollHeight="flex" selectionMode="single"
    [value]="persons" styleClass="p-datatable-striped" [paginator]="false" sortField="lastname" [sortOrder]="1" [(filters)]="defaultFilters">
    <ng-template pTemplate="header">
        <tr>
            <th class="flex-1  align-items-center justify align-items-center " pSortableColumn="saga">
                Saga<p-sortIcon field="name"></p-sortIcon>
            </th>

            <th class="flex-1 align-items-center justify-content-center" pSortableColumn="username">
                Username<p-sortIcon field="name"></p-sortIcon>
            </th>

            <th class="flex-1 align-items-center justify-content-center" pSortableColumn="name">
                Nombre<p-sortIcon field="name"></p-sortIcon>
            </th>

            <th class="flex-1 align-items-center justify-content-center" pSortableColumn="lastname">
                Apellidos<p-sortIcon field="lastname"></p-sortIcon>
            </th>

            <th class="flex-1 align-items-center justify-content-center" pSortableColumn="customer">
                Cliente<p-sortIcon field="client"></p-sortIcon>
            </th>

            <th class="flex-1 align-items-center justify-content-center" pSortableColumn="grade">
                Grado<p-sortIcon field="grade"></p-sortIcon>
            </th>

            <th class="flex-1 align-items-center justify-content-center" pSortableColumn="role">
                Rol<p-sortIcon field="role"></p-sortIcon>
            </th>

            <th class="flex-1 align-items-center justify-content-center" pSortableColumn="hours">
                Horas<p-sortIcon field="hours"></p-sortIcon>
            </th>

            <th class="flex-1 align-items-center justify-content-center" pSortableColumn="businesscode">
                Práctica<p-sortIcon field="businesscode"></p-sortIcon>
            </th>

            <th class="flex-1 align-items-center justify-content-center" pSortableColumn="department">
                Departamento<p-sortIcon field="department"></p-sortIcon>
            </th>

            <th class="flex-1 align-items-center justify-content-center" pSortableColumn="manager">
                Evaluador<p-sortIcon field="manager"></p-sortIcon>
            </th>

            <th class="flex-1 align-items-center justify-content-center" pSortableColumn="center.name">
                Oficina<p-sortIcon field="center.name"></p-sortIcon>
            </th>
            <th class="flex-1 align-items-center justify-content-center" pSortableColumn="province">
                Localización<p-sortIcon field="location"></p-sortIcon>
            </th>
            <th class="flex-1 align-items-center justify-content-center" pSortableColumn="active">
                Estado<p-sortIcon field="active"></p-sortIcon>
            </th>

            <th class="flex-none" style="width: 125px;"></th>
        </tr>
        <tr>
            <th class="flex-1 align-items-center justify-content-center">
                <p-columnFilter class="w-full" type="text" field="saga" matchMode="contains" [showMenu]="false"
                    [showClearButton]="false"></p-columnFilter>
            </th>
            <th class="flex-1 align-items-center justify-content-center">
                <p-columnFilter class="w-full" type="text" field="username" matchMode="contains" [showMenu]="false"
                    [showClearButton]="false"></p-columnFilter>
            </th>
            <th class="flex-1 align-items-center justify-content-center">
                <p-columnFilter class="w-full" type="text" field="name" matchMode="contains" [showMenu]="false"
                    [showClearButton]="false"></p-columnFilter>
            </th>
            <th class="flex-1 align-items-center justify-content-center">
                <p-columnFilter class="w-full" type="text" field="lastname" matchMode="contains" [showMenu]="false"
                    [showClearButton]="false"></p-columnFilter>
            </th>
            <th class="flex-1 align-items-center justify-content-center">
                <p-columnFilter class="w-full" type="text" field="customer" matchMode="contains" [showMenu]="false"
                    [showClearButton]="false"></p-columnFilter>
            </th>
            <th class="flex-1 align-items-center justify-content-center">
                <p-columnFilter class="w-full" type="text" field="grade" matchMode="contains" [showMenu]="false"
                    [showClearButton]="false"></p-columnFilter>
            </th>
            <th class="flex-1 align-items-center justify-content-center">
                <p-columnFilter class="w-full" field="role" matchMode="equals" [showMenu]="false"
                    [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown #filterDropdown [options]="roles" optionLabel="role"
                            (onChange)="filter($event.value?.role)" [showClear]="true" placeholder="Cualquiera"
                            [showClearButton]="false">
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="flex-1  align-items-center justify-content-center">
                <p-columnFilter class="w-full" type="text" field="hours" matchMode="contains" [showMenu]="false"
                    [showClearButton]="false"></p-columnFilter>
            </th>
            <th class="flex-1 align-items-center justify-content-center">
                <p-columnFilter class="w-full" type="text" field="businesscode" matchMode="contains" [showMenu]="false"
                    [showClearButton]="false"></p-columnFilter>
            </th>
            <th class="flex-1 align-items-center justify-content-center">
                <p-columnFilter class="w-full" type="text" field="department" matchMode="contains" [showMenu]="false"
                    [showClearButton]="false"></p-columnFilter>
            </th>
            <th class="flex-1 align-items-center justify-content-center">
                <p-columnFilter class="w-full" type="text" field="manager" matchMode="contains" [showMenu]="false"
                    [showClearButton]="false"></p-columnFilter>
            </th>
            <th class="flex-1 align-items-center justify-content-center">
                <p-columnFilter class="w-full" field="center.name" matchMode="equals" [showMenu]="false"
                    [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown #filterDropdown [options]="centers" optionLabel="name"
                            (onChange)="filter($event.value?.name)" [showClear]="true" placeholder="Cualquiera">
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="flex-1 align-items-center justify-content-center">
                <p-columnFilter class="w-full" field="province.province" matchMode="equals" [showMenu]="false"
                    [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown #filterDropdown [options]="provinces" optionLabel="province"
                            (onChange)="filter($event.value?.province)" [showClear]="true" placeholder="Cualquiera">
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="flex-1 align-items-center justify-content-center">
                <p-columnFilter class="w-full" type="text" field="active" matchMode="contains" [showMenu]="false"
                    [showClearButton]="false"></p-columnFilter>
            </th>
            <th class="flex-none" style="width: 125px;"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-person let-columns="columns">
        <tr [pSelectableRow]="person">
            <td class="flex-1 align-items-center justify-content-center">
                {{person.saga}}
            </td>
            <td class="flex-1 align-items-center justify-content-center">
                {{person.username}}
            </td>
            <td class="flex-1 align-items-center justify-content-center">
                {{person.name}}
            </td>
            <td class="flex-1 align-items-center justify-content-center">
                {{person.lastname}}
            </td>
            <td class="flex-1 align-items-center justify-content-center">
                {{person.customer}}
            </td>
            <td class="flex-1 align-items-center justify-content-center">
                {{person.grade}}
            </td>
            <td class="flex-1 align-items-center justify-content-center">
                {{person.role}}
            </td>
            <td class="flex-1 align-items-center justify-content-center">
                {{person.hours}}
            </td>
            <td class="flex-1 align-items-center justify-content-center">
                {{person.businesscode}}
            </td>
            <td class="flex-1 align-items-center justify-content-center">
                {{person.department}}
            </td>
            <td class="flex-1 align-items-center justify-content-center">
                {{person.manager}}
            </td>
            <td class="flex-1 align-items-center justify-content-center">
                {{person.center?.name}}
            </td>
            <td class="flex-1 align-items-center justify-content-center">
                {{person.province?.province}}
            </td>
            <td class="flex-1 align-items-center justify-content-center">
                {{person.active}}
            </td>

            <td class="flex-none" style="width: 125px;">
                <div class="justify-content-between">
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                        class="p-button-rounded p-button-text"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-text"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-toast position="top-center"></p-toast>
<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle" #confirmDialog></p-confirmDialog>
