.saga{
    min-width: 80px; 
    max-width: 100px;
}
.username{
    min-width: 80px; 
    max-width: 100px;
}
.name{
    min-width: 100px;
}
.lastname{
    min-width: 230px;
}
.customer{
    min-width: 100px;
}
.grade{
    min-width: 80px; 
    max-width: 100px;
}
.role{
    min-width: 100px;
}
.hours{
    min-width: 60px;
    max-width: 80px;
}
.businesscode{
    min-width: 100px;
}
.department{
    min-width: 100px;
}
.manager{
    min-width: 100px;
}
.center{
    min-width: 100px;
}
.province{
    min-width: 100px;
}
.active{
    min-width: 100px;
    max-width: 120px;
}
.buttons{
    min-width: 115px;
    max-width: 115px;
}