.saga{
    min-width: 80px; 
    max-width: 100px;
}
.username{
    min-width: 80px; 
    max-width: 100px;
}
.name{
    min-width: 100px;
}
.lastname{
    min-width: 230px;
}
.customers{
    min-width: 140px;
    max-width: 140px;
}
.grade{
    min-width: 30px; 
    max-width: 80px;
}
.role{
    min-width: 140px;
}
.hours{
    min-width: 80px;
    max-width: 80px;
    justify-content: right;
}
.businesscode{
    min-width: 100px;
    max-width: 100px;
}
.department{
    min-width: 100px;
    max-width: 100px;
}
.manager{
    min-width: 140px;
    max-width: 200px;
}
.parent{
    min-width: 140px;
    max-width: 200px;
}
.center{
    min-width: 115px;
    max-width: 115px;
}
.province{
    min-width: 135px;
    max-width: 135px;
}
.active{
    min-width: 100px;
    max-width: 100px;
}
.buttons{
    min-width: 80px;
    max-width: 80px;
}
.p-button.p-button-icon-only.p-button-rounded{
    width: 2rem;
    height: 2rem;
}