<div class="flex flex-row justify-content-between">
    <div class="flex justify-content-start">
        <h3 class="p-0 m-0 mb-2">
            Pyramid Team Index
        </h3>
    </div>
</div>

<p-toast position="top-center"></p-toast>
<div class="flex-column"> 
    <div class="flex flex-row w-full justify-content-center">
        <p-table [value]="pyramids" [loading]="loading"  [paginator]="false" [scrollable]="true" scrollHeight="flex" >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:80px;flex-direction:column;align-items:center;"></th>
                    <th style="width:80px;flex-direction:column;align-items:center;">A1</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">A2</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">B1</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">B2</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">B3</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">C1</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">C2</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">C3</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">D1</th>
                    <th style="width:80px;flex-direction:column;align-items:center;">D2</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pyramid  let-rowIndex="rowIndex">
                <tr [ngClass]="{'editable-row': rowIndex == 0}" >
                    <td class="font-bold" style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ rowIndex == 0 ? 'Index' : 'Cost' }}</td>
                    <td style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.A1) }}</td>
                    <td style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.A2) }}</td>
                    <td style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.B1) }}</td>
                    <td style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.B2) }}</td>
                    <td style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.B3) }}</td>
                    <td style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.C1) }}</td>
                    <td style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.C2) }}</td>
                    <td style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.C3) }}</td>
                    <td style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.D1) }}</td>
                    <td style="width:80px;flex-direction:column;align-items:end;padding:0.75rem 0.75rem 0.75rem 0">{{ formatNumber(pyramid.D2) }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="h-3rem"></div>
    <div style="height: calc(100vh - 300px);" class="flex flex-row gap-8 flex-wrap justify-content-center overflow-y-scroll">
        <p-progressSpinner *ngIf="loadingTeam"></p-progressSpinner>
        <div *ngFor="let pyramidTeam of pyramidTeams;let i = index" class="flex flex-column justify-content-center align-items-center">
            <p class="font-bold font-italic">{{pyramidTeam.customerName}}</p>
            <div class="flex flex-row gap-3" style="width:100%">
                <p-table [value]="pyramidTeam.customerList" responsiveLayout="scroll" [paginator]="false" [scrollable]="true" scrollHeight="flex" [loading]="loadingTeam">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:80px;flex-direction: column; align-items: center;">Perfil</th>
                            <th style="width:80px;flex-direction: column; align-items: center;">Count</th>
                            <th style="width:80px;flex-direction: column; align-items: center;">Index</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pyramid>
                        <tr [ngClass]="{'font-bold': pyramid.profile == 'TOTAL'}">
                            <td style="width:80px;flex-direction: column; align-items: center;">{{pyramid.profile}}</td>
                            <td style="width:80px;flex-direction: column; align-items: end;padding-right: 1rem;">{{pyramid.count}}</td>
                            <td style="width:80px;flex-direction: column; align-items: end;padding-right: 1rem;">{{formatNumber(pyramid.index)}}</td> 
                        </tr>                        
                    </ng-template>
                </p-table>
                <p-chart type="bar" class="flex" [data]="dataCharts[i]" [options]="configCharts"></p-chart>
            </div>
        </div>
    </div>
</div>
