<div>
  <h1 class="text-center">Sincronizar LDAP</h1>
  <div class="flex flex-row">
    <div class="flex flex-column">
      <p style="font-size: 1.24rem;">La lista de distribución <strong>CCSW</strong> del LDAP no concuerda con la app:
        <span ng-if="ldapToInterns">{{totalPersonsCCSW_app}} eliminar | </span>
        <span ng-if="internsToLdap">{{totalPersonsApp_CCSW}} insertar</span>
      </p>
    </div>
    <button pButton pRipple type="button" icon=" pi pi-sync" class="p-button-lg m-2 ml-8"  *ngIf="totalPersonsCCSW_app>0 || totalPersonsApp_CCSW>0"
      pTooltip="Sincronizar manualmente" (click)="copyList(true)">
    </button>

  </div>

  <div class="grid">
    <div class="col-6 mt-4">
      <div class="mb-3">
        <span style="font-size: 1.24rem;">Personas de CCSW que <strong>NO</strong> están en la<strong>
            app</strong>
        </span>
      </div>
      <hr>

      <p-table [value]="personsCCSW_app" scrollHeight="400px" styleClass="no-border" [loading]="showSpinner"
        [scrollable]="true">

        <ng-template pTemplate="body" let-item>
          <div style="margin-bottom: 10px;">
            <h3 style="margin-bottom: 5px;">{{ item.name }} {{ item.lastname }}</h3>
            <div style="margin-bottom: 30px;">{{ item.username }}</div>
          </div>
        </ng-template>
      </p-table>
    </div>

    <div class="col-6 mt-4">
      <div class="mb-3">
        <span class="text-xl">Personas de la app que <strong>NO</strong> están en <strong>
            CCSW</strong>
        </span>
      </div>
      <hr>

      <p-table [value]="personsApp_CCSW" scrollHeight="400px" styleClass="no-border" [loading]="showSpinner"
        [scrollable]="true">
        <ng-template pTemplate="body" let-item>
          <div style="margin-bottom: 10px;">
            <h3 style="margin-bottom: 5px;">{{ item.name }} {{ item.lastname }}</h3>
            <div style="margin-bottom: 30px;">{{ item.username }}</div>
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>