<div>

  <div class="flex w-full align-items-center pl-4 mb-4">
    <span>
      La lista de distribución <strong>CCSW</strong> del LDAP no concuerda con los becarios listados en la aplicación. Acciones: {{totalPersonsCCSW_app}} eliminar y {{totalPersonsApp_CCSW}} insertar
    </span>
    <button pButton pRipple type="button" icon=" pi pi-sync" class="p-button-lg ml-6"  [disabled]="(totalPersonsCCSW_app+totalPersonsApp_CCSW > 0) == false"
        pTooltip="Sincronizar manualmente" (click)="copyList()">
    </button>
  </div>

  
  <div class="flex flex-row">
    <div class="flex flex-column flex-1">

      <div class="flex w-full h-2rem align-items-center justify-content-center" style="color: #12abdb; background-color: #f5f5f5; text-align: center;">
        <div>Personas de <strong>CCSW</strong> que <strong>NO</strong> están en la aplicación</div>
      </div>

      <div class="flex flex-none flex-column gap-2 m-3" style="height: calc(90vh - 230px); overflow: auto;">
        <div *ngFor="let item of personsCCSW_app">          
          <div class="text-800">{{ item.name }} {{ item.lastname }} </div>
          <div class="text-sm mb-3 font-italic">({{ item.username }})</div>
        </div>
      </div>
    </div>

    <div class="flex flex-column flex-1">

      <div class="flex w-full h-2rem align-items-center justify-content-center" style="color: #12abdb; background-color: #f5f5f5; text-align: center;">
        <div>Personas de la <strong>aplicación</strong> que <strong>NO</strong> están en CCSW</div>
      </div>

      <div class="flex flex-none flex-column gap-2 m-3" style="height: calc(90vh - 230px); overflow: auto;">
        <div *ngFor="let item of personsApp_CCSW">          
          <div class="text-800">{{ item.name }} {{ item.lastname }} </div>
          <div class="text-sm mb-3 font-italic">({{ item.username }})</div>
        </div>
      </div>

    </div>
  </div>

</div>