<div class="flex flex-column mt-2">
  <span class="p-float-label">
    <input id="name" type="text" pInputText class="w-full" [(ngModel)]="technologyElement.name"  required>
    <label for="firstname1">Nombre</label>
  </span>

  <div class="h-2rem"></div>
  
  <div class="flex flex-row justify-content-end gap-2">    
    <button pButton pRipple styleClass="" label="Cancelar" class="p-button p-button-secondary p-button-outlined" (click)="closeWindow()"></button>
    <button pButton pRipple p-button-label="10px" label="Guardar" [disabled]="technologyElement.name=='' || technologyElement.name==null || loading" (click)="saveItem(technologyElement)"></button>
  </div>
</div>
