<div class="flex flex-column">
    <textarea class="h-100vh" pInputTextarea style="height:283px" [(ngModel)]="text"></textarea>
    <div class="flex flex-row align-items-end pt-3 justify-content-end gap-2">    
        <button pButton pRipple styleClass="" label="Cancelar" icon="pi pi-times" class="p-button p-button-secondary" (click)="cancel()"></button>
        <button pButton pRipple p-button-label="10px" label="Guardar" icon="pi pi-check" [disabled]="text == null || text == '' " (click)="save(text)"></button>
    </div>
</div>