<h1 *ngIf="personElement.id == null" class="text-center">Nueva Persona</h1>
<h1 *ngIf="personElement.id != null" class="text-center">Modificar Persona</h1>

<div [formGroup]= "personForm" class="flex flex-column gap-3">
    
    
    
    <div class="flex flex-row mb-5">
      <span class="p-float-label w-full" *ngIf="personElement.id == null">
        <p-autoComplete styleClass="w-full" inputStyleClass="w-full" [ngModelOptions]="{standalone: true}" [(ngModel)]="personSelected" (onSelect)="onPersonSelect($event)" [suggestions]="groupPerson"
          [forceSelection]="true" [showEmptyMessage]="true" 
          (completeMethod)="searchPerson($event)" field="field"
          appendTo="body"></p-autoComplete>
        <label>Persona</label>
        <div class="p-input-icon-right">
          <i class="pi pi-search"></i>
        </div>
      </span>
    </div>

    


    <div class="flex flex-row gap-3">

    <span class="p-float-label flex-1">
      <input id="name" type="text" pInputText class="w-full" formControlName="saga">
      <label for="firstname1">Saga</label>
    </span>

    <span class="p-float-label flex-1">
      <input id="name" type="text" pInputText class="w-full" formControlName="username">
      <label for="firstname1">Username</label>
    </span>

    </div>

    <div class="flex flex-row gap-3">

      <span class="p-float-label flex-1">
        <input id="name" type="text" pInputText class="w-full" formControlName="name">
        <label for="firstname1">Nombre</label>
      </span>
    
    <span class="p-float-label flex-1">
      <input id="name" type="text" pInputText class="w-full" formControlName="lastname">
      <label for="firstname1">Apellidos</label>
    </span>

  </div>

 
    
    <div class="flex flex-row gap-3">
      <span class="p-float-label mb-1 flex-1">
        <input id="name" type="text" pInputText class="w-full" formControlName="email">
        <label for="firstname1">Email</label>
      </span> 

      <span class="p-float-label flex-1">
        <input id="name" type="text" pInputText class="w-full" formControlName="customer">
        <label for="firstname1">Cliente</label>
      </span>
  
    </div>
    
    <div class="flex flex-row gap-3">
    <span class="p-float-label flex-1">
      <input id="name" type="text" pInputText  formControlName="grade">
      <label for="firstname1">Grado</label>
    </span>

    <span class="p-float-label flex-2">
      <p-dropdown appendTo="body" styleClass="w-full" formControlName="role" optionLabel="role" [options]="roles" placeholder="..."> </p-dropdown>
      <label for="role">Rol</label>
    </span>

    <span class="p-float-label flex-1">
      <input id="name" type="text" pInputText  formControlName="hours">
      <label for="firstname1">Horas</label>
    </span>

  </div>


  <div class="flex flex-row gap-3">

    <span class="p-float-label flex-1">
      <input id="name" type="text" pInputText formControlName="businesscode">
      <label for="firstname1">Práctica</label>
    </span>

    <span class="p-float-label flex-2">
      <input id="name" type="text" pInputText class="w-full" formControlName="department">
      <label for="firstname1">Dpto</label>
    </span>

    
    <span class="p-float-label flex-1">
      <input id="name" type="text" pInputText  formControlName="manager">
      <label for="firstname1">Evaluador</label>
    </span>

   
  
    
  </div>

  <div class="flex flex-row gap-3">

    <span class="p-float-label" style="width: 186px;">
      <p-dropdown  [options]="centers" styleClass="w-full" formControlName="center" optionLabel="name" placeholder="..."> </p-dropdown>
      <label for="center">Oficina</label>
    </span>
    <span class="p-float-label flex-1">
     <p-dropdown  [options]="provinces" styleClass="w-full" formControlName="province" optionLabel="province" placeholder="..."> </p-dropdown>
     <label for="province">Provincia</label>
    </span> 

    <span class="p-float-label" style="width: 186px;">
      <p-dropdown [options]="actives" styleClass="w-full" formControlName="active" optionLabel="label" optionValue="value" placeholder="..."></p-dropdown>
      <label for="active">Estado</label>
    </span>

  </div>

 
  </div>

    <div class="h-3rem"></div>

    <div class="flex flex-row gap-3 justify-content-end gap-2">    
      <button pButton pRipple styleClass="" label="Cancelar" icon="pi pi-times" class="p-button p-button-secondary" (click)="closeWindow()"></button>
      <button pButton pRipple p-button-label="10px" label="Guardar" icon="pi pi-check"  [disabled]="!personForm.valid" (click)="saveItem(personElement)"></button>


    </div>
    <button pButton pRipple styleClass="" label="check" icon="pi pi-times" class="p-button p-button-secondary" (click)="showForm()"></button>


 


