<h1 *ngIf="personElement.id == null" class="text-center">Nueva Persona</h1>
<h1 *ngIf="personElement.id != null" class="text-center">Modificar Persona</h1>

<div [formGroup]="personForm" class="flex flex-column gap-4">

  <div class="flex flex-row mb-5">
    <span class="p-float-label w-full p-input-icon-right" *ngIf="!personElement.id">

      <p-autoComplete [(ngModel)]="internSelected" styleClass="w-full" inputStyleClass="w-full"
        (onSelect)="onPersonSelect($event)" [suggestions]="groupPerson" [forceSelection]="true"
        [showEmptyMessage]="true" (completeMethod)="searchPerson($event)" field="field" dropdownIcon="pi pi-search"
        [disabled]="checked" [ngModelOptions]="{standalone: true}"></p-autoComplete>

      <label>Persona</label>

      <i class="pi pi-search"></i>

    </span>

  </div>

  <div class="flex flex-row gap-4">

    <span class="p-float-label flex-1">
      <input id="name" type="text" pInputText class="w-full" formControlName="saga">
      <label>Saga <span class="text-red-600 text-base" *ngIf="personForm.get('saga').hasValidator(requiredField)">*</span></label>
    </span>

    <span class="p-float-label flex-1">
      <input id="name" type="text" pInputText class="w-full" formControlName="username" (ngModelChange)="whenInformedUsername($event)">
      <label>Username <span class="text-red-600 text-base" *ngIf="personForm.get('username').hasValidator(requiredField)">*</span></label>
    </span>

  </div>

  <div class="flex flex-row gap-4">

    <span class="p-float-label flex-1">
      <input id="name" type="text" pInputText class="w-full" formControlName="name">
      <label>Nombre <span class="text-red-600 text-base" *ngIf="personForm.get('name').hasValidator(requiredField)">*</span></label>
    </span>

    <span class="p-float-label flex-1">
      <input id="name" type="text" pInputText class="w-full" formControlName="lastname">
      <label>Apellidos <span class="text-red-600 text-base" *ngIf="personForm.get('lastname').hasValidator(requiredField)">*</span></label>
    </span>
  </div>

  <div class="flex flex-row gap-4">
    <span class="p-float-label mb-1 flex-1">
      <input id="name" type="text" pInputText class="w-full" formControlName="email">
     <label for="email">Email <span class="text-red-600 text-base" *ngIf="personForm.get('email').hasValidator(requiredField)">*</span></label></span>

    <span class="p-float-label flex-1">
      <input id="name" type="text" pInputText class="w-full" formControlName="customer">
      <label>Cliente <span class="text-red-600 text-base" *ngIf="personForm.get('customer').hasValidator(requiredField)">*</span></label>
    </span>

  </div>

  <div class="flex flex-row gap-4">
    <span class="p-float-label flex-1" style="min-width: 196px;">
      <input id="name" type="text" pInputText class="w-full" formControlName="grade" >
      <label>Grado <span class="text-red-600 text-base" *ngIf="personForm.get('grade').hasValidator(requiredField)">*</span></label>
    </span>

    <span class="p-float-label flex-1">
      <p-dropdown [options]="roles" [autoDisplayFirst]="false" styleClass="w-full" formControlName="role"
        optionLabel="role" inputId="float-label"></p-dropdown>
      <label>Rol <span class="text-red-600 text-base" *ngIf="personForm.get('role').hasValidator(requiredField)">*</span></label>
    </span>

    <span class="p-float-label flex-1" style="min-width: 196px;">
      <input id="name" type="text" pInputText class="w-full" formControlName="hours">
      <label>Horas <span class="text-red-600 text-base" *ngIf="personForm.get('hours').hasValidator(requiredField)">*</span></label>
    </span>

  </div>


  <div class="flex flex-row gap-4">

    <span class="p-float-label flex-1" style="min-width: 196px;">
      <input id="name" type="text" pInputText class="w-full" formControlName="businesscode">
      <label>Práctica <span class="text-red-600 text-base" *ngIf="personForm.get('businesscode').hasValidator(requiredField)">*</span></label>
    </span>

    <span class="p-float-label flex-1" style="min-width: 196px;">
      <input id="name" type="text" pInputText class="w-full" formControlName="department">
      <label>Dpto <span class="text-red-600 text-base" *ngIf="personForm.get('department').hasValidator(requiredField)">*</span></label>
    </span>

    <span class="p-float-label flex-1" style="min-width: 196px;">
      <input id="name" type="text" pInputText class="w-full" formControlName="manager">
      <label>Evaluador <span class="text-red-600 text-base" *ngIf="personForm.get('manager').hasValidator(requiredField)">*</span></label>
    </span>

  </div>

  <div class="flex flex-row gap-4">

    <span class="p-float-label flex-1">
      <p-dropdown [options]="centers" [autoDisplayFirst]="false" styleClass="w-full" appendTo="body"
        formControlName="center" optionLabel="name" (onChange)="matchByProvince()"> </p-dropdown>
      <label>Oficina <span class="text-red-600 text-base" *ngIf="personForm.get('center').hasValidator(requiredField)">*</span></label>
    </span>

    <span class="p-float-label flex-1">
      <p-dropdown [options]="provinces" [autoDisplayFirst]="false" styleClass="w-full" appendTo="body"
        formControlName="province" optionLabel="province"> </p-dropdown>
      <label>Localización <span class="text-red-600 text-base" *ngIf="personForm.get('province').hasValidator(requiredField)">*</span></label>
    </span>

    <span class="p-float-label flex-1">
      <p-dropdown [options]="actives" [autoDisplayFirst]="false" styleClass="w-full" appendTo="body"
        formControlName="active" optionLabel="label" optionValue="value"></p-dropdown>
      <label>Estado <span class="text-red-600 text-base" *ngIf="personForm.get('active').hasValidator(requiredField)">*</span></label>
    </span>

  </div>

</div>

<div class="flex flex-row mt-5 gap-4 justify-content-end gap-2">
  <button pButton pRipple styleClass="" label="Cancelar" icon="pi pi-times" class="p-button p-button-secondary"
    (click)="closeWindow()"></button>
  <button pButton pRipple p-button-label="10px" label="Guardar" icon="pi pi-check" [disabled]="!personForm.valid"
    (click)="saveItem(personForm.value)"></button>

</div>