<div class="max-w-min">

    <div class="flex flex-row justify-content-between">
        <div class="flex-column justify-content-start">
        <h1>
            Gestion de Becarios
        </h1>
        <div style="background-color:#e7edef" class="flex w-9rem h-1rem  gap-2 border-round-2xl  align-items-center ">
            <div class="pl-3">
                <i class="pi pi-users text-xl text-primary" ></i>
            </div>
            <div class="flex flex-row align-items-center gap-1">
                <p>{{internsLength}}</p>
                Personas
            </div>
        </div>
        <div class="h-1rem"></div>
    </div>
    <div class="flex justify-content-end align-items-center">
        <button pButton pRipple type="button" class="w-9rem p-3" label="Añadir"></button>
    </div>
</div>

<p-table [style]="{'height':'calc(100vh - 275px)'}"  [scrollable]="true"  selectionMode="single" scrollHeight="flex"
    [value]="interns" styleClass="p-datatable-striped" >
    <ng-template pTemplate="header" >
        <tr>
            <th class='{{cols.period}} '>
                Periodo
            </th>
            <th class="{{cols.username}}">
                Username
            </th>
            <th class="{{cols.name}}">
                Nombre
            </th>
            <th class="{{cols.lastname}}">
                Apellidos
            </th>
            <th class={{cols.gender}}>
                Genero
            </th>
            <th class="{{cols.education}}">
                Titulacion
            </th>
            <th class="{{cols.educationCenter}}">
                Centro
            </th>
            <th class="{{cols.center}}">
                Oficina
            </th>
            <th class="{{cols.province}}">
                Localización
            </th>
            <th class="{{cols.startDate}}">
                Inicio
            </th>
            <th class="{{cols.endDate}}">
                Fin
            </th>
            <th class="{{cols.hours}}">
                Horas
            </th>
            <th class="{{cols.customer}}">
                Cliente
            </th>
            <th class="{{cols.code}}">
                Codigo
            </th>
            <th class="{{cols.technologies}}">
                Tecnologias
            </th>
            <th class="{{cols.englishLevel}}">
                Inglés
            </th>
            <th class="{{cols.mentor}}">
                Mentor
            </th>
            <th class="{{cols.coordinator}}">
                Coordinador
            </th>
            <th class="{{cols.rrhh}}">
                Resp. RRHH
            </th>
            <th class="{{cols.action}}">
                Accion
            </th>
            <th class="{{cols.contractDate}}">
                F.Contrato
            </th>
            <th class="{{cols.active}}">
                Estado
            </th>
            <th class="{{cols.buttons}}">
            </th>
        </tr>
        <tr class="flex ">
            <th class="{{cols.period}}" >
                <p-columnFilter class="w-full" type="text" field="period" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="{{cols.username}}" >
                <p-columnFilter class="w-full" type="text" field="username" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="{{cols.name}}" >
                <p-columnFilter class="w-full" type="text" field="name" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="{{cols.lastname}}" >
                <p-columnFilter class="w-full" type="text" field="lastname" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="{{cols.gender}}" >
                <p-columnFilter class="w-full" field="gender" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [options]="genders" optionLabel="label" optionValue="value" (onChange)="filter($event.value)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="{{cols.education}}" >
                <p-columnFilter class="w-full" field="education.name" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [options]="educations" optionLabel="name" (onChange)="filter($event.value?.name)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="{{cols.educationCenter}} " >
                <p-columnFilter class="w-full" field="educationCenter.name" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [options]="educationsCenter" optionLabel="name" (onChange)="filter($event.value?.name)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>  
            <th class="{{cols.center}} " >
                <p-columnFilter class="w-full" field="center.name" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [options]="centers" optionLabel="name" (onChange)="filter($event.value?.name)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="{{cols.province}}" >
                <p-columnFilter class="w-full" field="province.province" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [options]="provinces" optionLabel="province" (onChange)="filter($event.value?.province)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="{{cols.startDate}}" >
                <p-columnFilter class="w-full" type="date" field="startDate" matchMode="is" [showMenu]="false" >
                    <ng-template pTemplate="filter" let-filter="filterCallback">
                        <p-calendar appendTo="body" (onSelect)="filter($event)" [locale]="es" [firstDayOfWeek]="1" dateFormat="dd/mm/yy" [showClear]="true" ></p-calendar>
                    </ng-template>
                </p-columnFilter>
               
            </th>
            <th class="{{cols.endDate}} " >
                <p-columnFilter class="w-full" type="date" field="endDate" matchMode="is" [showMenu]="false" >
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-calendar appendTo="body" (onSelect)="filter($event)" dateFormat="dd/mm/yy"></p-calendar>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="{{cols.hours}}" >
                <p-columnFilter class="w-full" type="text" field="hours" matchMode="equals" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="{{cols.customer}}" >
                <p-columnFilter class="w-full" type="text" field="customer" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="{{cols.code}}" >
                <p-columnFilter class="w-full" type="text" field="code" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="{{cols.technologies}}">
                <p-columnFilter class="w-full" field="technologies" matchMode="contains" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [options]="technologies" optionLabel="name" (onChange)="filter($event.value?.name);show($event.value?.name)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="{{cols.englishLevel}} " >
                <p-columnFilter class="w-full" field="englishLevel.name" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [options]="englishLevels" optionLabel="name" (onChange)="filter($event.value?.name)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                    
                </p-columnFilter>
            </th>
            <th class="{{cols.mentor}}" >
                <p-columnFilter class="w-full" type="text" field="mentor" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="{{cols.coordinator}}" >
                <p-columnFilter class="w-full" type="text" field="coordinator" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="{{cols.rrhh}} " >
                <p-columnFilter class="w-full" type="text" field="hrManager" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th class="{{cols.action}} " >
                <p-columnFilter class="w-full" field="action.name" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [options]="actions" optionLabel="name" (onChange)="filter($event.value?.name)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="{{cols.contractDate}} " >
                <p-columnFilter class="w-full" type="date" field="contractDate" matchMode="is" [showMenu]="false" >
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-calendar appendTo="body" (onSelect)="filter($event)" [panelStyle]="{'width':'350px'}"  dateFormat="dd/mm/yy"></p-calendar>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="{{cols.active}}" >
                <p-columnFilter class="w-full" field="active" matchMode="equals" [showMenu]="false" [showClearButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [options]="actives" optionLabel="label" optionValue="value" (onChange)="filter($event.value)" [showClear]="true" placeholder="Cualquiera"> </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th class="{{cols.buttons}}" >            
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-intern let-columns="columns">
        <tr class="flex  flex-row">
           <td class='{{cols.period}}'>
            {{intern.period}}
           </td>
           <td class="{{cols.username}}">
             {{intern.username}}
           </td>
           <td class="{{cols.name}}" *ngIf="intern.name">
            {{intern.name}}
           </td>
           <td class="{{cols.lastname}}">
            {{intern.lastname}}
        </td>
        <td class="{{cols.gender}}" *ngIf="intern.gender == 0">
            Otros
          </td>
          <td class="{{cols.gender}}" *ngIf="intern.gender == 1">
            Mujer
          </td>
          <td class="{{cols.gender}}" *ngIf="intern.gender == 2">
            Hombre
          </td>
           <td class="{{cols.education}}" *ngIf="intern.education">
            {{intern.education.name}}
           </td>
           <td class="{{cols.education}}" *ngIf="!intern.education">
           </td>
           <td class="{{cols.educationCenter}}">
            {{intern.educationCenter.name}}
           </td>
           <td class="{{cols.center}}">
            {{intern.center.name}}
           </td>
           <td class="{{cols.province}}" *ngIf="intern.province">
            {{intern.province.province}}
           </td>
           <td class="{{cols.province}}" *ngIf="!intern.province"></td>
           <td class="{{cols.startDate}}">
            {{intern.startDate | date:"dd/MM/yyyy" }}
           </td>
           <td class="{{cols.endDate}}">
             {{intern.endDate | date:"dd/MM/yyyy"}}
           </td>
           <td class="{{cols.hours}}">
            {{intern.hours}}
           </td>
           <td class="{{cols.customer}}">
            {{intern.customer}}
           </td>
           <td class="{{cols.code}}">
            {{intern.code}}
           </td>
           <td class="{{cols.technologies}}">
                <p *ngFor="let tech of intern.technologies">
                    {{tech.name +","}}
                </p>
           </td>
           <td class="{{cols.englishLevel}}" *ngIf="intern.englishLevel">
             {{intern.englishLevel.name}}
           </td>
           <td class="{{cols.englishLevel}}" *ngIf="!intern.englishLevel">
           </td>
           <td class="{{cols.mentor}}">
             {{intern.mentor}}
           </td>
           <td class="{{cols.coordinator}}">
            {{intern.coordinator}}
           </td>
           <td class="{{cols.rrhh}}">
            {{intern.hrManager}}
           </td>
           <td class="{{cols.action}}" *ngIf="intern.action">
            {{intern.action.name}}
           </td>
           <td class="{{cols.action}}" *ngIf="!intern.action">
            </td>
           <td class="{{cols.contractDate}}">
            {{intern.contractDate | date : "dd/MM/yyyy"}}
           </td>
           <td class="{{cols.active}}" *ngIf="intern.active == 0">
             Inactivo
           </td>
           <td class="{{cols.active}}" *ngIf="intern.active == 1">
             Activo
           </td>
           <td class="{{cols.active}}" *ngIf="intern.active == 2">
            Pendiente
           </td>
           <td class="{{cols.buttons}}">
                <button pButton pRipple type="button" *ngIf="intern.comment == null || intern.comment == ''" icon="pi pi-comment" class="p-button-rounded p-button-plain p-button-text w-2rem h-2rem" (click)="addCommentOrLink('comment',intern.comment)" ></button>            
                <button pButton pRipple type="button" *ngIf="intern.comment != null " icon="pi pi-comment" class="p-button-rounded p-button-text w-2rem h-2rem" (click)="addCommentOrLink('comment',intern.comment)" ></button>
                <button pButton pRipple type="button" *ngIf="intern.link == null || intern.link == ''" icon="pi pi-link" class="p-button-rounded p-button-plain p-button-text w-2rem h-2rem" (click)="addCommentOrLink('link',intern.link)" ></button>            
                <button pButton pRipple type="button" *ngIf="intern.link != null " icon="pi pi-link" class="p-button-rounded p-button-text w-2rem h-2rem" (click)="addCommentOrLink('link',intern.link)" ></button>
                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text w-2rem h-2rem" ></button>
                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text w-2rem h-2rem" ></button>            
           </td>
        </tr>
    </ng-template>
</p-table>
</div>