@import 'primeflex/primeflex.scss';
.period{
    min-width: 110px;
    max-width: 110px;
}
.username{
    min-width:80px;
    max-width: 100px;
}
.name{
    min-width:80px;
    max-width: 100px;
}
.lastname{
    min-width: 230px;
}
.gender{
    min-width: 105px;
    max-width: 105px;
}
.education{
    min-width: 200px;
}
.educationCenter{
    min-width: 200px;
}
.center{
    min-width: 115px;
    max-width: 115px;
}
.province{
    min-width: 130px;
    max-width: 130px;
}
.startDate{
    min-width: 100px;
    max-width: 100px;
}
.endDate{
    min-width: 100px;
    max-width: 100px;
}
.hours{
    min-width: 80px;
    max-width: 80px;
    justify-content: right;
}
.customer{
    min-width: 100px;
}
.code{
    min-width: 130px;
    max-width: 130px;
}
.technologies{
    min-width: 300px;
}
.englishLevel{
    min-width: 135px;
    max-width: 135px;
}
.mentor{
    min-width: 230px;
}
.coordinator{
    min-width: 230px;
}
.hrManager{
    min-width: 200px;
}
.action{
    min-width: 200px;
}
.contractDate{
    min-width: 100px;
    max-width: 100px;
}
.saga{
    min-width: 80px;
    max-width: 100px;
}
.active{
    min-width: 100px;
    max-width: 100px;
}
.buttons{
    min-width: 150px;
    max-width: 150px;
}