<div class="flex flex-column">
    
    <div class="flex justify-content-end">
        <span>Zoom:&nbsp;&nbsp;&nbsp;</span>
        <div class="w-10rem h-1rem pt-2">    
            <p-slider [(ngModel)]="zoomValue" [min]="1" [max]="20" (onSlideEnd)="changeZoom()"></p-slider>
        </div>
    </div>

    <div class="card flex justify-content-center overflow-x-auto" style="height: calc(90vh - 180px)">
        <div class="container">

            <p-organizationChart [value]="data">
                <ng-template let-node pTemplate="default">
                    <div *ngIf="node.data.title" class="p-2 text-center">
                        <div class="font-bold text-sm">{{ node.label }}</div>
                    </div>
                    <div *ngIf="node.data.title == null || node.data.title == false" class="text-center w-5rem">
                        <img *ngIf="node.data.title == null || node.data.title == false" [src]="node.data.image" class="mb-3rem w-3rem h-3rem" style="border-radius: 50%;" />
                        <div class="font-bold text-xs">{{ node.label }}</div>
                        <div class="text-xs mt-2">{{ node.data.role }}</div>
                    </div>

                </ng-template>
            </p-organizationChart>
        </div>
    </div>
    
    <div class="flex flex-row justify-content-end pt-4">    
        <button pButton pRipple p-button-label="10px" label="Cerrar" (click)="closeWindow()"></button>
    </div>
    
</div>